@import '~bootstrap/scss/bootstrap.scss';
@import './custom.setting.scss';
@import './navbar.scss';
@import './cardetails.scss';
@import './landing.scss';
@import './carlist.scss';

body {	
	background: $white;
	line-height: 1.7;
	font-size: 16px;
	font-weight: 300;
}

label {
  color: whitesmoke;
  font-weight: 400;
}

.color-black {
  color: black;
}

.td {
	color: black;
}